
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Welcome to Randa Coach</h1>
        <img src="/images/shipwreck.jpg" >
 
        
      </div>
    </div>
    <div style="background-color:beige" class="row">
  <div class="col-xs-6 col-sm-4">
  <h4>About Us</h4>
  <p>About Mash East Africa
Among the latest developments that have seen Mash having a niche over its competitors is in the incorporation, that saw the name and directors change from the previous Mash bus services Limited to Mash East Africa a broader aspect that has seen the company expanding its wings to all corners of the republic of Kenya and Kampala in Uganda.

Plans are at an advanced stage to spread our services to all major cities in East Africa and its environs.

Unlike other passenger transport companies Mash East Africa is a well-structured bus company run by a group of professional with international recognition. The management is comprised of a team of unquestionable integrity personnel having worked for home based passenger transport companies and also international companies such us the Stage Coach International PLC with its head quarters in the UK.

The management is full of professionals with specialized training in passenger transport matters, having some affiliates, fellows and associated members of the Chartered institute of logistics and transport in the UK. This is professional body, which trains and produces the best and the highest qualified personnel in transport and logistics in the whole world.

.</p>
  </div>
  <div class="col-xs-6 col-sm-4">
 <iframe width="420" height="345" src="https://www.youtube.com/embed/lTkz-PCKmgE?start=126" frameborder="0" 
 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4">
  <h4>Contact Us</h4>
<p>NAIROBI BOOKING OFFICES</br>
River Rd, Nairobi</p>
  
    <p>+254 722 839 796</br>
Call us at any time!</p>
  <p>info@randacoach.co.ke</br> 
Send us your query anytime!</p>
    
  
  </div>
  </div>
<div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Book Your Tickets here</h2>
          <p><a class="btn btn-default" href="#/shipwrecks" role="button">Click here &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Randa2019</p>
      </footer>
    </div> 
 
    